
<!-- Call to Action Section -->
<div class="well">
	<div class="row">
		<div class="col-md-8">
			<p>You can test PDF-UA online generation:</p>
		</div>
		<div ng-controller="pdfa">
			<form name="pdf-gen-form">
				<label> Type the URL that you want convert in an accessible	PDF (http://...): 
				<input type="text" name="url" value="www.google.com" ng-model="url" required />
				</label>
				<div ng-messages="pdf-gen-form.url.$error" role="alert">
					<div ng-message="required">Please enter a value for this field.</div>
				</div>
				<button ng-click="downloadPdf()">Convert to PDF-UA</button>
				<a href="/pdfier-web-mvc/pdfafromurl?url={{url}}">Download PDF</a>
				<hr />
				<object ng-show="content" data="{{PostDataResponse}}" type="application/pdf" class="pdf-container"></object>
			</form>
		</div>
		<!-- div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="index-pdfa.html">Go to PDF accessible generation</a>
                </div-->
	</div>
</div>