
<!-- Call to Action Section -->
<div class="well">
	<div class="row">
		<div ng-controller="pdfa">
			<div class="container searchbar">
				<div class="row">
					<div class="col-md-10 col-md-push-1 col-sm-8 col-sm-push-2 text-center">						
						<form class="form-horizontal">
							<div class="row">
								<div class="input-group">
									<input class="form-control input-transparent" name="url"
										value="http://www.randomwebsite.com" type="url" ng-model="url">
									<!-- span class="input-group-btn"><a class="btn btn-danger" data-toggle="collapse" data-content="#advanced"
										href="#advanced">Options</a-->
									<span class="input-group-btn">
										<a class="btn btn-success" href="/pdfier-web-mvc/pdfafromurl?url={{url}}">Save as PDF</a>
										<button ng-click="downloadPdf()" class="btn btn-success">View as PDF</button>
									</span>
								</div>
							</div>
							<div class="sbinfo">
								Convert an accessible web page to PDF/UA - just enter the URL and <b>Download
						as tagged PDF</b>!
							</div>
							<hr />
							<object ng-show="content" data="{{PostDataResponse}}" type="application/pdf" class="pdf-container"></object>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="index-pdfa.html">Go to PDF accessible generation</a>
                </div-->
	</div>
</div>