
<!-- Call to Action Section -->
<div class="well">
	<div class="row">
		<div ng-controller="pdfController as $ctrl">
		    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <center><h3 class="modal-title" id="modal-title">Thank you for using PDFier service!</h3></center>
        </div>
        <div class="modal-body" id="modal-body">
            <center><strong>Generating accessible PDF<strong></center>
        </div>
        <div class="modal-footer">
            <center><button class="btn btn-success" type="button" ng-click="$ctrl.ok()">OK</button></center>
        </div>
    </script>
    
			<div class="container searchbar">
				<div class="row">
					<div class="col-md-10 col-md-push-1 col-sm-8 col-sm-push-2 text-center">						
						<form class="form-horizontal">
							<div class="row">
								<div class="input-group">
									<input class="form-control input-transparent" name="url"
										value="http://www.randomwebsite.com" type="url" ng-model="url">
									<!-- span class="input-group-btn"><a class="btn btn-danger" data-toggle="collapse" data-content="#advanced"
										href="#advanced">Options</a-->
									<span class="input-group-btn">
										<a ng-click="$ctrl.open()" class="btn btn-success" href="/pdfier-web-mvc/pdfafromurl?url={{url}}">Save as PDF</a>
										<button ng-click="$ctrl.open();downloadPdf();" class="btn btn-success hidden-phone">View as PDF</button>
									</span>
								</div>
							</div>
							<div class="sbinfo">
								Convert an accessible web page to PDF/UA - just enter the URL and <b>Download
						as tagged PDF</b>!
							</div>
							<hr />
							<object ng-if="content"  data="{{PostDataResponse}}" type="application/pdf" class="pdf-container"></object>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="index-pdfa.html">Go to PDF accessible generation</a>
                </div-->
	</div>
</div>