html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333
}

button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

a {
	color: #337ab7
}

a:focus, a:hover {
	color: #23527c;
	text-decoration: underline
}

a:focus {
	outline: dotted thin;
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px
}
